
/* COLORES  */

.pri {
    background-color:#0077B6 !important;
}

.sec{
    background-color: rgba(193,223,240,1) !important;
}


.social-networks a {
    display: inline-flex;
    color: #ffffff;
    height: 48px;
    width: 48px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transition: transform 0.4s;
}

.social-networks a:hover {
    transform: scale(1.3);
}

.social-networks a.facebook {
    background-color: #3c70a4;
}

.social-networks a.twitter {
    background-color: #5bd1d7;
}

.social-networks a.google {
    background-color: #ee4540;
}

.social-networks a.youtube {
    background-color: #c72c41;
}

.social-networks a.instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}